{% extends 'djangogramm/base.html' %}
{% load bootstrap5 %}
{% load cloudinary %}
{% block title %}Index{% endblock %}
{% block content %}
    <ul class="list-unstyled" >
    {% for post in object_list %}
        <li class="media my-3 p-2 border">
        <div class="mb-2 p-2 bg-light">
            {% if post.dg_user.avatar %}
                {% cloudinary post.dg_user.avatar crop="fill" height=100 width=100 %}
            {% endif %}
            <strong class="mx-3">{{ post.dg_user.get_name }}</strong>
            <span class="mx-3">Followers: {{ post.dg_user.count_followers }}</span>
            <span class="mx-3">Following: {{ post.dg_user.count_following }}</span>
            <span>{{ post.follow }}</span>

            {# Follow/Unfollow button #}
            {% if user != post.dg_user %}
            <form class="mt-3 mx-3" role="form" action="{% url 'djangogramm:follow' dg_user_id=post.dg_user.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.get_full_path }}">
                {% if post.is_follower %}
                    <input type="hidden" name="isfollow" value="unfollow">
                    {% buttons submit='Unfollow' %}{% endbuttons %}
                {% else %}
                    <input type="hidden" name="isfollow" value="follow">
                    {% buttons submit='Follow' %}{% endbuttons %}
                {% endif %}
            </form>
            {% endif %}
        </div>
        <img src="{{ post.image.url }}" class="img-fluid">
        <h5 class="mt-2 mx-2">{{ post.title }}</h5>
        <p class="mt-2 mx-2">
            Likes: {{post.get_total_likes}}
        </p>
        <form class="mx-2" role="form" action="{% url 'djangogramm:like' post_id=post.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.get_full_path }}">
        {% if post.is_like %}
            <input type="hidden" name="islike" value="unlike">
            {% buttons submit='UnLike' %}{% endbuttons %}
        {% else %}
            <input type="hidden" name="islike" value="like">
            {% buttons submit='Like' %}{% endbuttons %}
        {% endif %}
        </form>
        <small class="p-2">{{ post.pub_date }}</small>
        <p class="p-2">{{ post.desc }}</p>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
