{% extends 'djangogramm/base.html' %}

{% load bootstrap5 %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p>You are already logged. Please, <a href="{% url 'djangogramm:logout' %}">log out</a></p>
    {% else %}
    <form  role="form" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="hidden" name="next" value="{{ next }}">
        {% buttons submit='Sign up' reset="Cancel" %}{% endbuttons %}
    </form>
    {% endif %}
{% endblock %}
